.title {
  height: 80%;
  width: 100%;
  font-size: 5vh;
  color: rgb(31, 230, 230);
  padding: 0vh;
  margin: 1vh;
  display: flex;
  justify-content: center;
}

.tags {
  height: 22px;
  margin: 20px;
}