.Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "b1 b2 b3 b4 b5 b6" "b7 b8 b9 b10 b11 b12" "b13 b14 b15 b16 b17 b18" "b19 b20 b21 b22 sbkT sbkV";
  grid-area: board;
  height: 100%;
  margin: 0vh;
  padding: 0vh;
  color: azure;
  background-color: rgb(7, 87, 86);
  text-align: center;
  border-radius: 2vh;
}

.Board div {
  margin: 0vh;
  padding: 1.5vh;
}

.blkN0Title {
  grid-area: b1;
}

.blkNoValue {
  grid-area: b2;
}

.totalstkTitle {
  grid-area: b3;
}

.totalstkValue {
  grid-area: b4;
}

.everageTitle {
  grid-area: b5;
}

.everagetValue {
  grid-area: b6;
}

.minerCntTitle {
  grid-area: b7;
}

.minerCntValue {
  grid-area: b8;
}

.delegatorCntTitle {
  grid-area: b9;
}

.delegatorCntValue {
  grid-area: b10;
}

.delegatePartCntTitle {
  grid-area: b11;
}

.delegatePartCntValue {
  grid-area: b12;
}

.epochIDTitle {
  grid-area: b13;
}

.epochID {
  grid-area: b14;
}

.slotIDTitle {
  grid-area: b15;
}

.slotID {
  grid-area: b16;
}

.epochPercentTitle {
  grid-area: b17;
}

.epochPercent {
  grid-area: b18;
}

.curEpochTime {
  grid-area: b19;
}

.curEpochTimeValue {
  grid-area: b20;
}

.nextEpochTime {
  grid-area: b21;
}

.nextEpochTimeValue {
  grid-area: b22;
}

.sbkT {
  grid-area: sbkT;
}

.sbkV {
  grid-area: sbkV;
}