.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;

  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: 0.1fr 4fr 0.1fr;
  grid-template-rows: 0.1fr 0.1fr 2.2fr 0.1fr;
  grid-template-areas: "title title title" ". board ." ". utils ." ". . .";
}

div {
  /* border: 1px solid rgb(72, 6, 6); */
}

.title { grid-area: title; }

.board { grid-area: board; }

.utils { grid-area: utils; }

.App button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.5vh 10vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2vh;
}

.App button:hover {
  background-color: rgb(17, 230, 191); /* Green */
  color: white;
}

.App input {
  width: 90%;
  height: 90%;
  color: #282c34;
}