.App {
  text-align: center;
}

.title {
  background-color: #282c34;
  color: rgb(8, 226, 242);
  margin-bottom: 5vh;
  font-size: calc(10px + 3vmin);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.3fr 0.4fr 0.5fr 0.3fr 0.5fr 0.3fr 0.5fr 0.3fr 0.5fr 1fr;
  grid-template-areas: "title title title title title title" 
  "blkN0Title blkNoValue totalstkTitle totalstkValue everageTitle everagetValue" 
  "minerCntTitle minerCntValue delegatorCntTitle delegatorCntValue delegatePartCntTitle delegatePartCntValue" 
  "epochIDTitle epochID slotIDTitle slotID epochPercentTitle epochPercent" 
  ". . . . . ."
  "calculateMinerTitle calculateMinerTitle calculateMinerTitle calculateMinerTitle calculateMinerTitle calculateMinerTitle" 
  "calcMiner calcMiner calcMiner calcMiner calcMiner calcMiner" 
  "calculateDelegatorTitle calculateDelegatorTitle calculateDelegatorTitle calculateDelegatorTitle calculateDelegatorTitle calculateDelegatorTitle" 
  "calcDelegate calcDelegate calcDelegate calcDelegate calcDelegate calcDelegate" 
  "addrIncentiveTitle addrIncentiveTitle addrIncentiveTitle addrIncentiveTitle addrIncentiveTitle addrIncentiveTitle" 
  "addrIncentive addrIncentive addrIncentive addrIncentive addrIncentive addrIncentive" 
  "addrActivityTitle addrActivityTitle addrActivityTitle addrActivityTitle addrActivityTitle addrActivityTitle" 
  "addrActivity addrActivity addrActivity addrActivity addrActivity addrActivity" 
  ". . . . . .";

  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 2vh;
}

.title { grid-area: title; }

.blkN0Title { grid-area: blkN0Title; }

.blkNoValue { grid-area: blkNoValue; }

.totalstkTitle { grid-area: totalstkTitle; }

.totalstkValue { grid-area: totalstkValue; }

.everageTitle { grid-area: everageTitle; }

.everagetValue { grid-area: everagetValue; }

.minerCntTitle { grid-area: minerCntTitle; }

.minerCntValue { grid-area: minerCntValue; }

.delegatorCntTitle { grid-area: delegatorCntTitle; }

.delegatorCntValue { grid-area: delegatorCntValue; }

.delegatePartCntTitle { grid-area: delegatePartCntTitle; }

.delegatePartCntValue { grid-area: delegatePartCntValue; }

.epochIDTitle { grid-area: epochIDTitle; }

.epochID { grid-area: epochID; }

.slotIDTitle { grid-area: slotIDTitle; }

.slotID { grid-area: slotID; }

.epochPercentTitle { grid-area: epochPercentTitle; }

.epochPercent { grid-area: epochPercent; }

.calculateMinerTitle { grid-area: calculateMinerTitle;  margin-top: 5vh;}

.calculateDelegatorTitle { grid-area: calculateDelegatorTitle;  margin-top: 5vh;}

.calcDelegate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". inputDelegate inputDelegateTime inputDelegateFeerate deleButton totalDelegateReward totalDelegateRewardValue deleRewardRate deleRewardRateValue .";
  grid-area: calcDelegate;
}

.inputDelegate { grid-area: inputDelegate; }

.inputDelegateTime { grid-area: inputDelegateTime; }

.inputDelegateFeerate { grid-area: inputDelegateFeerate; }

.deleButton { grid-area: deleButton; }

.totalDelegateReward { grid-area: totalDelegateReward; }

.totalDelegateRewardValue { grid-area: totalDelegateRewardValue; }

.deleRewardRate { grid-area: deleRewardRate; }

.deleRewardRateValue { grid-area: deleRewardRateValue; }

.calcMiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". lockAmount lockTime . calcButton totalReward totalRewardValue rewardRate rewardRateValue .";
  grid-area: calcMiner;
}

.lockAmount { grid-area: lockAmount; }

.lockTime { grid-area: lockTime; }

.calcButton { grid-area: calcButton; }

.totalReward { grid-area: totalReward; }

.totalRewardValue { grid-area: totalRewardValue; }

.rewardRate { grid-area: rewardRate; }

.rewardRateValue { grid-area: rewardRateValue; }

.addrIncentiveTitle { grid-area: addrIncentiveTitle;  margin-top: 5vh;}

.addrIncentive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". inputAddress inputStartEpoch inputEndEpoch addrButton addrReward addrRewardValue . . .";
  grid-area: addrIncentive;
}

.inputAddress { grid-area: inputAddress; }

.inputStartEpoch { grid-area: inputStartEpoch; }

.inputEndEpoch { grid-area: inputEndEpoch; }

.addrButton { grid-area: addrButton; }

.addrReward { grid-area: addrReward; }

.addrRewardValue { grid-area: addrRewardValue; }

/* addrActivity  */
.addrActivityTitle { grid-area: addrActivityTitle; margin-top: 5vh;}

.addrActivity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". actAddress actStartEpoch actEndEpoch actButton actMine actMineValue actEp actEpValue .";
  grid-area: addrActivity;
}

.actAddress { grid-area: actAddress; }

.actStartEpoch { grid-area: actStartEpoch; }

.actEndEpoch { grid-area: actEndEpoch; }

.actButton { grid-area: actButton; }

.actMine { grid-area: actMine; }

.actMineValue { grid-area: actMineValue; }

.actEp { grid-area: actEp; }

.actEpValue { grid-area: actEpValue; }

.actRp { grid-area: actRp; }

.actRpValue { grid-area: actRpValue; }
