.LeaderBoard {
  min-height: 30vh;
  border-radius: 2vh;
  background-color: rgb(89, 64, 81);
  margin: 1vh 0vh 0vh 0vh;
}

.LeaderBoard div {
  padding: 0.4vh;
}

.LeaderBoardTitle {
  border-bottom: 1px solid rgb(174, 167, 167);
  color: aliceblue;
}

.LeaderBoardBody {
  padding: 1vh;
}

Table {
  color: aquamarine;
}