.LeaderBoard {
  min-height: 300px;
  border-radius: 2vh;
  background-color: rgb(59, 96, 121);
  margin: 1vh 0vh 0vh 0vh;
}

.LeaderBoard div {
  padding: 0.4vh;
}

.LeaderBoardTitle {
  /* border-bottom: 1px solid rgb(174, 167, 167); */
  color: rgb(2, 2, 2);
}

.LeaderBoardBody {
  padding: 1vh;
}

Table {
  color: rgb(252, 252, 252);
}

.ant-table-column-title {
  color: rgb(255, 255, 255);
}